{% extends 'blog/base.html' %}
{% block title %}
    Post
{% endblock %}

{% block content %}
    <div class="eleven wide column">
        <h3 class="ui header">{{ post.title }}</h3>
        <div class="ui clearing divider"></div>
        <div class="ui eleven wide column">
            {% for tag in tags %}
                <a class="ui teal label" href="{{ url_for('blog.tag', tag_name=tag.title) }}">{{ tag.title }}</a>
            {% endfor %}
            <br>
            <br>
            <a class="ui label" href="{{ url_for('blog.user', username=post.user.username) }}">
                <i class="user icon"></i>{{ post.user.username }}</a>
        <div class="ui clearing divider"></div>
        <p>{{ post.text }}</p>
        </div>
        <div class="ui comments">
            <h3 class="ui dividing header">Add Comment</h3>
            <form action="{{ url_for('blog.post', post_id=post.id) }}" method="POST" class="ui form">
                {{ form.hidden_tag() }}
                <div class="field">
                    {{ form.name.label }}
                    {% if form.name.errors %}
                        {% for e in form.name.errors %}
                            <p>{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.name }}
                </div>
                <div class="field">
                    {{ form.text.label }}
                    {% if form.text.label %}
                        {% for e in form.text.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.text }}
                </div>
                <input type="submit" value="Submit" class="ui primary button">
            <div class="ui divider"></div>
            </form>
            <div>
                <div class="ui comment">
                    <div class="comment">
                        <h3 class="ui header">Comments</h3>
                        {% if comments | length==0 %}
                            <p>There are no comments for this post.</p>
                        {% else %}
                            {% for comment in comments %}
                                <div class="content">
                                    <p class="author"><i class="icon user"></i>{{ comment.name }}</p>
                                </div>
                                <div class="metadata">
                                <span class="date">{{ comment.date }}</span>
                                </div>
                                <div class="text">{{ comment.text }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        </div>
    <div class="ui list two wide column">
        <h4 class="header">Recent Posts</h4>
        {% for post in recent %}
            <div class="item">
                <h5 class="header">
                    <a href="{{ url_for('blog.post', post_id=post.id) }}">{{ post.title }}</a>
                </h5>
                <div class="description">{{ post.text | truncate(60) | safe }}</div>
            </div>
        {% endfor %}
        <h4 class="header">Popular Tags</h4>
        {% for tag in top_tags %}
            <div class="item">
                <a href="{{ url_for('blog.tag', tag_name=tag[0].title) }}">{{ tag[0].title }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}