<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/semantic.css') }}">
    <script src={{ url_for('static', filename='dist/semantic.js') }}></script>
    <script src="{{ url_for('static', filename='dist/jquery.min.js') }}"></script>
    {% macro render_pagination(pagination, endpoint) %}
        <nav>
            <ul class="ui pagination menu">
                <li>
                    <a href="{{ url_for('home', page=pagination.prev().page) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page in pagination.iter_pages() %}
                    {% if page %}
                        {% if page != pagination.page %}
                            <li>
                                <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
                            </li>
                        {% else %}
                            <li><a href="">{{ page }}</a></li>
                        {% endif %}
                    {% else %}
                        <li><a>...</a></li>
                    {% endif %}
                {% endfor %}
                <li>
                    <a href="{{ url_for('home', page=pagination.next().page) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endmacro %}
</head>


<body>
    <div class="ui internally celled grid">
        <div class="row">
            <div class="ui two wide column visible inverted left vertical sidebar menu">
                <h2 class="ui header"><a href="{{ url_for('home') }}"><i class="home icon"></i>Home</a></h2>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <h4 class="ui header inverted">Power By Flask<i class="heart icon"></i>semantic-UI</h4>
        </div>
    </footer>
</body>
</html>