<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/semantic.css') }}">
    <script src={{ url_for('static', filename='dist/semantic.js') }}></script>
    <script src="{{ url_for('static', filename='dist/jquery.min.js') }}"></script>
    {% macro render_pagination(pagination, endpoint) %}
        <nav>
            <ul class="ui pagination menu">
                <li>
                    <a href="{{ url_for('home', page=pagination.prev().page) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page in pagination.iter_pages() %}
                    {% if page %}
                        {% if page != pagination.page %}
                            <li>
                                <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
                            </li>
                        {% else %}
                            <li><a href="">{{ page }}</a></li>
                        {% endif %}
                    {% else %}
                        <li><a>...</a></li>
                    {% endif %}
                {% endfor %}
                <li>
                    <a href="{{ url_for('home', page=pagination.next().page) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endmacro %}
</head>


<body>
    <div class="ui vertical inverted sticky menu fixed top" style="left: 0px; top: 0px; width: 250px !important; height: 1813px !important; margin-top: 0px;">
        <div class="toc" style="min-height: 1813px;">
            <div class="item">
                <a href="{{ url_for('home') }}" class="ui logo icon image">
                    <img src="static/images/bear.jpg" width="35px" height="35px">
                </a>
                <a href="{{ url_for('home') }}"><b>BearHome</b></a>
            </div>
            <a href="{{ url_for('home') }}" class="item"><i class="home icon"></i>首页</a>
        </div>
    </div>
{% block body %}
{% endblock %}
</body>
</html>