{% extends 'blog/base.html' %}

{% block  title %}
    Register
{% endblock %}

{% block content %}
    <div class="ui container">
        <form class="ui form">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="username">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="password">
            </div>
            <div class="field">
                <label>Confirm Password</label>
                <input type="password" name="confirm password" placeholder="confirm password">
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}